<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <!--a class="navbar-brand" href="#">Reeee Man</a-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigatieBalk" aria-controls="navigatieBalk" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigatieBalk">
      <div class="navbar-nav">  
        <a class="nav-link" href="/" id="indexNav">Home</a>
        <a class="nav-link" href="/customText" id="customTextNav">Custom Text</a>
        <a class="nav-link" href="/permissionClimbing" id="permissionClimbingNav">Permission Climbing</a>
        <a class="nav-link" href="/regexSearchWords" id="regexSearchWordsNav">Regex Search Words</a>
        <a class="nav-link" href="/regexReactions" id="regexReactionsNav">Regex Reactions</a>
        <a class="nav-link" href="/regexBans" id="regexBansNav">Regex Bans</a>
        <a class="nav-link" href="/DM" id="DMNav">DM texts</a>
        <a class="nav-link" href="/instellingen" id="instellingenNav">Instellingen</a>
      </div>
    </div>
  </nav>
  