<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('./partials/htmlHead'); -%>
</head>
<body>
    <%- include('./partials/navigatie') -%>

    <div class="container text-left">
        <form action="/api/bot/customText" method="POST">
            <input type="text" class="form-control" name="newText" value="<%= customText %>">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>

        <br>
    </div>

    <%- include('./partials/scripts') -%>
</body>
</html>