<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('./partials/htmlHead'); -%>
</head>
<body>
    <%- include('./partials/navigatie') -%>

    <h1>Home</h1>

    <%- include('./partials/scripts') -%>
</body>
</html>