<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('./partials/htmlHead'); -%>
</head>
<body>
    <%- include('./partials/navigatie') -%>

    <div class="container text-left">
        <!--
            ideeën:
            - permision abuse -> geeft mij dezelfde rechten als de bot in een bepaalde server (indien de bot hiertoe de rechten heeft) (sla mijn oude rechten ook op)
              - Zo kan ik de revolutie leiden
              - Of andere gebruikers rechten geven en ontnemen
            - Ook laten werken in de DM's
            - Help command goed utiliseren
            - COGS VANAF HET BEGIN DEFTIG DOEN!?! 
            - berichten sturen via de webinterface
              - of DM sturen naar de bot met bepaalde syntax -> doet hetzelfde als via webinterface
        -->

    </div>

    <%- include('./partials/scripts') -%>
</body>
</html>