<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('./partials/htmlHead'); -%>
</head>
<body>
    <%- include('./partials/navigatie') -%>

    <div class="container text-left">
        <div class="row">
            <div>
                <a class="col-4" href="/customText">
                    <h3>Test</h3>
                    <p>Test description</p>
                </a>
            </div>
        </div>
    </div>

    <%- include('./partials/scripts') -%>
</body>
</html>