<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('./partials/htmlHead'); -%>
</head>
<body>
    <%- include('./partials/navigatie') -%>

    <div class="container text-left">
        <h1>Instellingen</h1>
        <hr>

        <h2>Basis</h2>
        <!--
            key
            naam
            beschrijving
            versie
            prefix
        -->

        <h2>Activiteit</h2>
        <!--
            online / offline / afwezig / niet storen
            activity text
            activity (game, stream, plain text?)
        -->

        <pre>
            <%= instellingen %>
        </pre>

    </div>

    <%- include('./partials/scripts') -%>
</body>
</html>